body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.header {
    text-align: center;
    margin: 20px;
    color: #343a40;
}

.graph-container {
    margin: 20px auto;
    width: 80%;
}
